<div class="container">
<h1>New task</h1>
<div class="todo">
<%= form_for(@task) do |f| %>
 <div class="form"> <%= f.label :title %>
  <%= f.text_field :title %>
 <div class="form"> <%= f.label :details %>
  <%= f.text_field :details %></div>
  <div class="sub"><%= f.submit %></div>
<% end %>
</div>
</div>
<hr>
<%= link_to tasks_path do %>
  <div class="bouton"><i class="fa fa-history"></i> <div class="btn">Back to list</div></div>
<% end %>
